* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

.main-infor-container {
    background: #fff url("/img/autumnImg.jpg") no-repeat;
    background-size: 100%;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

.form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.distance {
    margin-top: 36px;
}

.form .form-heading {
    font-size: 2rem;
    color: rgba(255, 0, 0, 0.5);
}

.form .form-desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 400;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label {
    text-align: left;
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}